h2{
    text-align: center;
    color: cornflowerblue;
}
#par1{
    color: blue;
    text-align: center;
    text-transform: capitalize;
    column-count: 3;
    column-rule: 3px solid blue;
}
#par2{
    color: rgba(255, 0, 0, 1);
    text-align: right;
    text-shadow: 3px 3px 5px blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#par3{
    color: #3f16c5;
    text-align: justify;
    text-decoration: line-through 2px;
}
#par4{
    color: hsl(0, 100%, 50%);
    text-decoration: underline;
    text-indent: 2rem;
    letter-spacing: 10px;
    line-height: 1rem;
}
#par5{
    color: fuchsia;
    text-decoration: overline blue;
    text-transform: uppercase;
    word-spacing: 1rem;
}
#par6{
    color: darkcyan;
    text-align: right;
    text-transform: lowercase;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-shadow: 3px 3px 5px olivedrab;
}