.yazi{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    width: 50vw;
}
/************ ROTATE **************/
.yazi1{
    background-color: greenyellow;
    transform: rotateX(180deg);
    /*! 90 ve 270 derecelerde yazilar tam dik olduklari icin ve 3 boyutlu goremiyecegimiz icin gozukmezler*/

}
.yazi2{
    background-color: tomato;
    transform: rotateY(180deg);
}
.yazi3{
    background-color: hotpink;
    transform: rotate(-45deg);
}

/*************** SCALE ************/
.yazi4{
    background-color: indianred;

}
.yazi4:hover{
    transform: scaleX(1.5) scaleY(2);
}
.yazi5{
    background-color: fuchsia;
}
.yazi5:active{
    /* transform: scale(1.1, 1.3); */
    transform: scale(97%);
}
/*************** TRANSLATE - TRANSITION ************/

.translate{
    background-color: gold;
    font-weight: 800;
    font-size: 1.1rem;
    width: 100px;
    height: 50px;
    margin: 10px;
    /* transition: background-color 1s, transform 1s; */
    transition: all 1s;
}
.x:hover{
    transform: translateX(50px) scale(50%) rotate(360deg);
    background-color: greenyellow;
}
.y:active{
    transform: translateY(-50px);
    background-color: aqua;
}
.xy:active{
    transform: translate(50px, 50PX);
    background-color: darkcyan;
}
.btn-div{
    text-align: center;
}
.btn{
    padding: 1rem;
    width: 7rem;
    background-color: goldenrod;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background-color 1s, color 0.5s;
}
.btn:hover{
    background-color: blue;
    color: red;
}
.btn:active{
    transform: scale(96%);
    background-color: black;
    color: chartreuse;
}